/.idea
*.pyc
*.pth
/submodules/diff-gaussian-rasterization/build
/submodules/diff-gaussian-rasterization/diff_gaussian_rasterization.egg-info
/submodules/simple-knn/build
/submodules/simple-knn/simple_knn.egg-info
